.body-background{
    overflow: hidden;
    background-color: grey;
}
.body-background:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:url("./img/backgroundcode.png");
    opacity: .4;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
